@use "sass:color"

// vars
$spotify-green: #1db954
$spotify-black: #191414

// animations
// @keyframes flip-tile
// 	from
// 		transform: rotateY(0)
// 	50%
// 		transform: rotateY(0.25turn)
// 	50.1%
// 		transform: rotateY(0.75turn)
// 	to
// 		transform: rotateY(1turn)
@keyframes flip-start
	from
		transform: rotateY(0)
	to
		transform: rotateY(.25turn)

@keyframes flip-end
	from
		transform: rotateY(.75turn)
	to
		transform: rotateY(1turn)

@keyframes fade-in
	0%
		opacity: 0
	100%
		opacity: 1

@keyframes grow
	from
		transform: scale(0)
	to
		transform: scale(1)

@keyframes spin
	from
		transform: rotate(0)
	to
		transform: rotate(360deg)

// style
:root
	--tile-size: 0
	--enlarge-size: 90vmin

	// Light/Dark mode theming
	--dark-color: white
	$dark-bg-color: #191414
	--dark-bg-color: #{$dark-bg-color}
	--dark-accent-color: orange
	--dark-gradient: radial-gradient(circle, #{color.adjust($dark-bg-color, $lightness: 20%)} 0%, #{$dark-bg-color} 100%)

	--light-color: black
	$light-bg-color: white
	--light-bg-color: #{$light-bg-color}
	--light-accent-color: #b0efff
	--light-gradient: radial-gradient(circle, #{$light-bg-color} 0%, #{color.adjust($light-bg-color, $lightness: -20%)} 100%)

	// Swtiched in script
	--theme-color: var(--light-color)
	--theme-bg-color: var(--light-bg-color)
	--theme-accent-color: var(--light-accent-color)
	--theme-gradient: var(--light-gradient)
@mixin theme
	color: var(--theme-color)
	background-color: var(--theme-bg-color)
@mixin theme-accent
	color: var(--light-color)
	background-color: var(--theme-accent-color)
@mixin theme-gradient

//

#App
	background: var(--theme-gradient)
	display: grid
	grid-template-rows: 50px 1fr
	margin: 0
	justify-items: center
	width: 100vw
	height: 100vh
	font-family: 'Questrial', sans-serif
	&:hover
		#top-bar
			opacity: 1
	
h1,h2,h3,h4,h5
	font-family: 'Hepta Slab', serif

#ArtGrid
	z-index: 1
	width: 100vw
	height: 100vh
	display: flex
	flex-flow: row wrap
	justify-content: center
	align-items: center
	gap: 0
.art-tile
	cursor: pointer
	position: relative
	overflow: clip
	flex-grow: 0
	img
		position: absolute
		backface-visibility: hidden // fix for blurry transition in firefox
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 1
	div.art-info
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		display: flex
		flex-flow: column nowrap
		justify-content: center
		align-items: center
		text-align: center
		background-color: #00000044
		backdrop-filter: blur(3px) // supposed to be able to do multiple filters but it ain't liking that
		border-radius: 20px
		z-index: 2
		opacity: 0
		transition: opacity 0.25s ease-in-out
		&:hover
			opacity: 1
		p
			color: white
			margin: 0

.flip-anim-start
	animation: flip-start 0.5s linear
	animation-iteration-count: 1
.flip-anim-end
	animation: flip-end 0.5s linear
	animation-iteration-count: 1

$bar-spacing: 12px
#top-bar
	z-index: 4
	box-sizing: border-box
	margin: 0
	padding: $bar-spacing
	display: flex
	flex-flow: row nowrap
	justify-content: space-between
	align-items: center
	width: 100%
	position: absolute
	opacity: 0
	transition: opacity 0.2s ease-out
	box-shadow: 0 5px 10px #0005
	@include theme

	input[type="range"]
		-webkit-appearance: none
		height: 7px
		border-radius: 5px
		background-size: 100% 100%
		background-repeat: no-repeat
		@include theme-accent

	input[type="range"]::-webkit-slider-thumb
		-webkit-appearance: none
		height: 20px
		width: 20px
		border: 2px solid var(--theme-color)
		border-radius: 50%
		background: var(--theme-bg-color)
		cursor: ew-resize
		transition: background .3s ease-in-out

	input[type="range"]::-webkit-slider-runnable-track
		-webkit-appearance: none
		box-shadow: none
		border: none
		background: transparent

	#dark-toggle
		cursor: pointer
		border: 2px solid var(--theme-color)
		border-radius: 50%
		@include theme
		i
			line-height: 1.5em

.options
	display: flex
	flex-flow: row nowrap
	justify-content: center
	align-items: center
	gap: 50px
	margin: 0
	> div
		display: flex
		flex-flow: row nowrap
		justify-content: center
		align-items: center
		gap: $bar-spacing
		p
			font-size: 10pt
			padding: 3px 6px
			border-radius: 5px
			margin: 0
			@include theme-accent
		label
			letter-spacing: 0.15em
			&.radio-label
				letter-spacing: normal
				color: var(--theme-color)
				margin-right: .5em


#logout
	cursor: pointer
	font-family: 'Questrial'
	font-size: 10pt
	padding: 3px 6px
	border-radius: 6px
	border: 2px solid var(--theme-color)
	@include theme

#login-prompt
	z-index: 99
	position: absolute
	left: 0
	top: 0
	width: 100vw
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	h1
		margin-bottom: 0
		margin-top: 0
		font-size: 52pt
	p
		margin-top: .5em
		margin-bottom: 2em
	> div
		padding: 40px
		border-radius: 40px
		display: flex
		flex-flow: column nowrap
		justify-content: center
		align-items: center
		box-shadow: 0 20px 10px #222a
		@include theme
a.spotify-link
	cursor: pointer
	width: 50%
	display: flex
	flex-flow: row nowrap
	justify-content: center
	align-items: center
	text-decoration: none
	background-color: $spotify-green
	padding: 10px
	border-radius: 20px
	margin: 0
	
	color: $spotify-black
	img
		height: 1.6em
		margin: 0 0 0 7px

#details
	z-index: 4
	position: absolute
	left: 0
	top: 0
	width: 100vw
	height: 100vh
	display: flex
	flex-flow: row nowrap
	justify-content: center
	align-items: center
	text-align: center
	background-color: #0005
	> div
		max-width: 90vh
		max-height: 90vh
		padding: 30px
		border-radius: 40px
		display: flex
		flex-flow: column nowrap
		justify-content: center
		align-items: center
		box-shadow: 0 20px 10px #000c
		@media (prefers-reduced-motion: no-preference)
			animation: grow 0.5s ease-in-out
		> img
			flex-shrink: 1
			flex-basis: 80vh
			height: 80vh
			max-width: 80vh
			max-height: 80vh
			min-width: 50px
			min-height: 50px
			margin-bottom: 20px
			backface-visibility: hidden // fix for blurry transition in firefox
		@include theme
		h3,h4
			font-family: 'Questrial'
			font-weight: normal
			margin: 0.2em
			text-align: left
			vertical-align: center
			span
				border: 1px solid var(--theme-color)
				border-radius: 5px
				padding: 5px
				font-size: .7em
		#detail-text-box
			width: 100%
			display: flex
			flex-flow: row nowrap
			justify-content: space-between
			align-items: center
			> a
				width: fit-content
				margin-left: 30px

#loading
	z-index: 1
	position: absolute
	left: 0
	top: 0
	width: 100vw
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	h1
		margin-bottom: 0
		font-size: 52pt
		color: var(--theme-color)
		@media (prefers-reduced-motion: no-preference)
			animation: spin 0.5s linear
			animation-iteration-count: infinite