@keyframes flip-tile {
  from {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(0.25turn);
  }
  50.1% {
    transform: rotateX(0.75turn);
  }
  to {
    transform: rotateX(1turn);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
:root {
  --tile-size: 0;
  --enlarge-size: 90vmin;
  --dark-color: white;
  --dark-bg-color: #191414;
  --dark-accent-color: orange;
  --dark-gradient: radial-gradient(circle, #524141 0%, #191414 100%);
  --light-color: black;
  --light-bg-color: white;
  --light-accent-color: #b0efff;
  --light-gradient: radial-gradient(circle, white 0%, #cccccc 100%);
  --theme-color: var(--light-color);
  --theme-bg-color: var(--light-bg-color);
  --theme-accent-color: var(--light-accent-color);
  --theme-gradient: var(--light-gradient);
}

#App {
  background: var(--theme-gradient);
  display: grid;
  grid-template-rows: 50px 1fr;
  margin: 0;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Questrial", sans-serif;
}
#App:hover #top-bar {
  opacity: 1;
}

h1, h2, h3, h4, h5 {
  font-family: "Hepta Slab", serif;
}

#ArtGrid {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.art-tile {
  cursor: pointer;
  position: relative;
  overflow: clip;
}
.art-tile img {
  position: absolute;
  backface-visibility: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.art-tile div.art-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2666666667);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.art-tile div.art-info:hover {
  opacity: 1;
}
.art-tile div.art-info p {
  color: white;
  margin: 0;
}

.flip-animation {
  animation: flip-tile 1s linear;
  animation-iteration-count: 1;
}

#top-bar {
  z-index: 4;
  box-sizing: border-box;
  margin: 0;
  padding: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3333333333);
  color: var(--theme-color);
  background-color: var(--theme-bg-color);
}
#top-bar input[type=range] {
  -webkit-appearance: none;
  height: 7px;
  border-radius: 5px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: var(--light-color);
  background-color: var(--theme-accent-color);
}
#top-bar input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 2px solid var(--theme-color);
  border-radius: 50%;
  background: var(--theme-bg-color);
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}
#top-bar input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
#top-bar #dark-toggle {
  cursor: pointer;
  border: 2px solid var(--theme-color);
  border-radius: 50%;
  color: var(--theme-color);
  background-color: var(--theme-bg-color);
}
#top-bar #dark-toggle i {
  line-height: 1.5em;
}

.options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0;
}
.options > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.options > div p {
  font-size: 10pt;
  padding: 3px 6px;
  border-radius: 5px;
  margin: 0;
  color: var(--light-color);
  background-color: var(--theme-accent-color);
}
.options > div label {
  letter-spacing: 0.15em;
}

#logout {
  cursor: pointer;
  font-family: "Questrial";
  font-size: 10pt;
  padding: 3px 6px;
  border-radius: 6px;
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
  background-color: var(--theme-bg-color);
}

#login-prompt {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#login-prompt h1 {
  margin-bottom: 0;
  font-size: 52pt;
}
#login-prompt p {
  margin-top: 0.5em;
  margin-bottom: 2em;
}
#login-prompt > div {
  padding: 40px;
  border-radius: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 10px rgba(34, 34, 34, 0.6666666667);
  color: var(--theme-color);
  background-color: var(--theme-bg-color);
}

a.spotify-link {
  cursor: pointer;
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #1db954;
  padding: 10px;
  border-radius: 20px;
  margin: 0;
  color: #191414;
}
a.spotify-link img {
  height: 1.6em;
  margin: 0 0 0 7px;
}

#details {
  z-index: 4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3333333333);
}
#details > div {
  max-width: 90vh;
  max-height: 90vh;
  padding: 30px;
  border-radius: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.8);
  color: var(--theme-color);
  background-color: var(--theme-bg-color);
}
@media (prefers-reduced-motion: no-preference) {
  #details > div {
    animation: grow 0.5s ease-in-out;
  }
}
#details > div > img {
  flex-shrink: 1;
  flex-basis: 80vh;
  height: 80vh;
  max-width: 80vh;
  max-height: 80vh;
  min-width: 50px;
  min-height: 50px;
  margin-bottom: 20px;
}
#details > div h3, #details > div h4 {
  font-family: "Questrial";
  margin: 0.2em;
  text-align: left;
}
#details > div #detail-text-box {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#details > div #detail-text-box > a {
  width: fit-content;
  margin-left: 30px;
}

/*# sourceMappingURL=App.css.map */
