@keyframes flip-tile {
  from {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(0.25turn);
  }
  50.1% {
    transform: rotateX(0.75turn);
  }
  to {
    transform: rotateX(1turn);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(176, 176, 176) 100%);
  display: grid;
  grid-template-rows: 50px 1fr;
  margin: 0;
  justify-items: center;
  width: 100vw;
  height: 100vh;
}
.App:hover #top-bar {
  opacity: 1;
}

#ArtGrid {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}

.art-tile {
  position: relative;
  overflow: clip;
  animation: fade-in 0.5s ease-in;
}
.art-tile img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.art-tile div.art-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2666666667);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.art-tile div.art-info:hover {
  opacity: 1;
}
.art-tile div.art-info p {
  color: white;
  margin: 0;
}

.flip-animation {
  animation: flip-tile 1s linear;
  animation-iteration-count: 1;
}

#top-bar {
  z-index: 2;
  box-sizing: border-box;
  margin: 0;
  padding: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3333333333);
}

.options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0;
}
.options > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.options > div p {
  font-size: 10pt;
  padding: 3px 6px;
  background-color: #ccc;
  color: black;
  border-radius: 5px;
}
.options > div p, .options > div label {
  margin: 0;
}

#logout {
  font-size: 10pt;
  padding: 3px 6px;
  color: white;
  background-color: #191414;
  border-radius: 6px;
}

#login-prompt {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#login-prompt h1 {
  margin-bottom: 0;
}
#login-prompt p {
  margin-top: 0.5em;
  margin-bottom: 2em;
}
#login-prompt div {
  padding: 50px;
  background-color: white;
  border-radius: 40px;
}
#login-prompt a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #1db954;
  padding: 10px;
  border-radius: 20px;
  color: #191414;
}
#login-prompt a img {
  height: 1.6em;
  margin-left: 7px;
}

/*# sourceMappingURL=App.css.map */
